<div class="container">
  <%= simple_form_for(article) do |f| %>
    <%= f.input :title, label: "Titre", placeholder: "Ton plus beau titre" %>
    <%= f.input :chapo, label: "Chapô", placeholder:"El Chapô" %>
    <%= f.input :cover, as: :file %>
    <%= f.input :image,label: "Balise Alt", placeholder:"Pour le SEO ;)" %>
    <%= f.rich_text_area :ontent %>
    <%= f.input :photos, as: :file, input_html:  {multiple: true} %>
    <%= f.input :category, label: "Categories" %>
    <%#= f.input :tag, label: "Tag" %>
    <%= f.input :tag_list, label: "Add tags", input_html:{ value: @article.tag_list.join(", ")}, placeholder:"Pizza, Burger, Italien...", hint: "Add your tags, separated by commas"%>
    <%= f.input :author , label: "Auteur.trice"%>
    <%= f.submit %>
  <% end %>
</div>
