<div class="container">
  <%= simple_form_for(article) do |f| %>
    <%= f.input :title, label: "Titre", placeholder: "Ton plus beau titre" %>
    <%= f.input :chapo, label: "Chapô", placeholder:"El Chapô" %>
    <%= f.input :cover, as: :file %>
    <%= f.input :alt,label: "Balise Alt Cover", placeholder:"Pour le SEO ;)" %>
    <%= f.rich_text_area :ontent %>
    <%= f.input :photo, as: :file %>
    <%= f.input :altun,label: "Balise Alt photo 1", placeholder:"Pour le SEO ;)" %>
    <%= f.input :photodeux, as: :file %>
    <%= f.input :altdeux,label: "Balise Alt photo 2", placeholder:"Pour le SEO ;)" %>
    <%= f.input :phototrois, as: :file %>
    <%= f.input :alttrois,label: "Balise Alt photo 3", placeholder:"Pour le SEO ;)" %>
    <%= f.input :photoquatre, as: :file %>
    <%= f.input :altquatre,label: "Balise Alt photo 4", placeholder:"Pour le SEO ;)" %>
    <%= f.input :photocinq, as: :file %>
    <%= f.input :altcinq,label: "Balise Alt photo 5", placeholder:"Pour le SEO ;)" %>
    <%= f.input :photosix, as: :file %>
    <%= f.input :altsix,label: "Balise Alt photo 6", placeholder:"Pour le SEO ;)" %>
    <%= f.input :photosept, as: :file %>
    <%= f.input :altsept,label: "Balise Alt photo 7", placeholder:"Pour le SEO ;)" %>
    <%= f.input :photohuit, as: :file %>
    <%= f.input :althuit,label: "Balise Alt photo 8", placeholder:"Pour le SEO ;)" %>
    <%= f.input :photoneuf, as: :file %>
    <%= f.input :altneuf,label: "Balise Alt photo 9", placeholder:"Pour le SEO ;)" %>
    <%= f.input :photodix, as: :file %>
    <%= f.input :altdix,label: "Balise Alt photo 10", placeholder:"Pour le SEO ;)" %>
    <%#= f.input :category, label: "Balise alt", hint:"ajoute tes balises séparés par une virgule" %>
    <%#= f.input :tag, label: "Tag" %>
    <%= f.input :categ_list, label: "Ajoute ta Ville", input_html:{ value: @article.categ_list.join(", ")}, placeholder:"le nom de la ville", hint: "Ajoute juste 1 ville"%>
    <%= f.input :tag_list, label: "Ajoute tes tags", input_html:{ value: @article.tag_list.join(", ")}, placeholder:"Pizza, Burger, Italien...", hint: "ajoute tes tags, separés par une virgule"%>
    <%= f.input :author , label: "Auteur.trice"%>
    <%= f.submit %>
  <% end %>
</div>
