<div class="container">
  <%= simple_form_for(article) do |f| %>
    <%= f.input :title %>
    <%= f.input :chapo %>
    <%= f.input :cover, as: :file %>
    <%= f.rich_text_area :ontent %>
    <%= f.input :photo, as: :file %>
    <%= f.input :image %>
    <%= f.input :category %>
    <%= f.input :tag %>
    <%= f.input :author %>
    <%= f.submit %>
  <% end %>
</div>
