<h1 class="title-reco">DANS LA MÊME VILLE :</h1>
  <div class="cards-recent">
    <% @related_articles_c.each do |article| %>
      <%= link_to article_path(article) do %>
        <div class="card-recent">
          <% if article.cover.attached?%>
            <div class="card-recent-visuel" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path article.cover.key , alt: article.image, crop: :fill %>')">
          <% end %>
            </div>
          <div class="card-recent-footer">
            <div class="date-index">
              <%= article.created_at.strftime("%d %b %Y")%>
            </div>
            <div class="card-recent-footer-title">
              <%= article.title.upcase.truncate(34, separator: " ")%>
            </div>
            <div class="card-recent-footer-chapo">
              <%= article.chapo.capitalize.truncate(120, separator: " ") %>
            </div>
            <div class="lire-la-suite">
              <%= "LIRE LA SUITE" %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
