      <!-- app/views/offers/show.html.erb -->
<% content_for :meta_title, "#{@article.title} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @article.chapo %>
<% content_for :meta_image, cl_image_path(@article.cover.url) %>



<div class="container">
  <div class="category-show">
    <% @article.categ_list.each do |categ| %>
        <%=link_to categ, categged_path(categ: categ)%>
    <% end %>
  </div>
  <h1 class="title-show">
    <%=@article.title %>
  </h1>
  <div class="container-show">

    <div class="chapo-show">
      <%=@article.chapo %>
    </div>
    <div class="date-show">
      Publié le <%= @article.created_at.strftime("%d/%m/%Y")%> - Mis à jour le <%= @article.updated_at.strftime("%d/%m/%Y")%>
    </div>

    <div>
      <% if @article.cover.attached?%>
        <div class="cover-show"><%= cl_image_tag @article.cover.key, crop: :fill, fetch_format: :auto,quality: 30,  alt: @article.alt %></div>
      <% end %>
    </div>
    <div data-controller="richtext" class="content-show">
      <%=@article.ontent%>
    </div>
    <div>
      <% if @article.photo.attached?%>
        <div class="cover-show"><%= cl_image_tag @article.photo.key, crop: :fill, fetch_format: :auto,quality: 30,  alt: @article.altun %></div>
      <% end %>
    </div>
    <div>
      <% if @article.photodeux.attached?%>
        <div class="cover-show"><%= cl_image_tag @article.photodeux.key, crop: :fill, fetch_format: :auto,quality: 30,  alt: @article.altdeux %></div>
      <% end %>
    </div>
    <div>
      <% if @article.phototrois.attached?%>
        <div class="cover-show"><%= cl_image_tag @article.phototrois.key, crop: :fill, fetch_format: :auto,quality: 30,  alt: @article.alttrois %></div>
      <% end %>
    </div>

    <div>
      <% if @article.photoquatre.attached?%>
        <div class="cover-show"><%= cl_image_tag @article.photoquatre.key, crop: :fill, fetch_format: :auto,quality: 30,  alt: @article.altquatre %></div>
      <% end %>
    </div>

    <div>
      <% if @article.photocinq.attached?%>
        <div class="cover-show"><%= cl_image_tag @article.photocinq.key, crop: :fill, fetch_format: :auto,quality: 30,  alt: @article.altcinq %></div>
      <% end %>
    </div>

    <div>
      <% if @article.photosix.attached?%>
        <div class="cover-show"><%= cl_image_tag @article.photosix.key, crop: :fill, fetch_format: :auto,quality: 30,  alt: @article.altsix %></div>
      <% end %>
    </div>

    <div>
      <% if @article.photosept.attached?%>
        <div class="cover-show"><%= cl_image_tag @article.photosept.key, crop: :fill, fetch_format: :auto,quality: 30,  alt: @article.altsept %></div>
      <% end %>
    </div>

    <div>
      <% if @article.photohuit.attached?%>
        <div class="cover-show"><%= cl_image_tag @article.photohuit.key, crop: :fill, fetch_format: :auto,quality: 30,  alt: @article.althuit %></div>
      <% end %>
    </div>

    <div>
      <% if @article.photoneuf.attached?%>
        <div class="cover-show"><%= cl_image_tag @article.photoneuf.key, crop: :fill, fetch_format: :auto,quality: 30,  alt: @article.altneuf %></div>
      <% end %>
    </div>

    <div>
      <% if @article.photodix.attached?%>
        <div class="cover-show"><%= cl_image_tag @article.photodix.key, crop: :fill, fetch_format: :auto,quality: 30,  alt: @article.altdix %></div>
      <% end %>
    </div>
  </div>

    <div class="tags-show">
     TAG : <% @article.tag_list.each do |tag| %>
        <div class="tag-show">
          <%=link_to tag, tagged_path(tag: tag)%>
        </div>
      <% end %>
    </div>

    <div class="tags-show">
     VILLE : <% @article.categ_list.each do |categ| %>
        <div class="tag-show">
          <%=link_to categ, categged_path(categ: categ)%>
        </div>
      <% end %>
    </div>
  <%= render "share-button", article: @article %>

  <div>
  <% if user_signed_in? %>
    <% if policy(@article).edit?  %>
      <%= link_to "Edit", edit_article_path(@article) %>
    <% end %>
  </div>
  <div>
    <% if policy(@article).destroy?  %>
      <div>
        <%= button_to "Destroy", @article, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>
  </div>
  <%= render "reco", article: @article %>
  <%= render "recoville", article: @article %>
</div>
      <% else %>
      <% end %>



