<div class="container">
  <div class="category-show">
    <%=@article.category %>
  </div>
  <h1 class="title-show">
    <%=@article.title %>
  </h1>
  <div class="chapo-show">
    <%=@article.chapo %>
  </div>
  <div class="img-show">
    <% if @article.cover.attached?%>
      <%=cl_image_tag @article.cover.key , alt: @article.image, height: 400, crop: :fill %>
    <% end %>
  </div>
  <div data-controller="richtext" class="content-show">
    <%=@article.ontent%>
  </div>
    <% if @article.photo.attached?%>
      <%=cl_image_tag @article.photo.key ,  height: 400, width: 400, crop: :fill  %>
    <% end %>
    <div class="tags-show">
     TAG : <% @article.tag_list.each do |tag| %>
        <div class="tag-show">
          <%=link_to tag, tagged_path(tag: tag)%>
        </div>
      <% end %>
    </div>
    <div class="share-show">
    PARTAGER :
      <a href="https://wa.me/?text=<%= request.original_url %>"><i class="fa-brands fa-whatsapp"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
</div>

<div>
  <% if policy(@article).edit?  %>
    <%= link_to "Edit", edit_article_path(@article) %>
  <% end %>
</div>
<div>
  <% if policy(@article).destroy?  %>
    <div>
      <%= button_to "Destroy", @article, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  <% end %>
</div>
<div>
  <%= link_to "All", root_path%>
</div>


