<div class="container">
  <div class="category-show">
    <%=@article.category %>
  </div>
  <h1 class="title-show">
    <%=@article.title %>
  </h1>
  <div class="chapo-show">
    <%=@article.chapo %>
  </div>
  <%= render "share-button", article: @article %>



  <div>
    <% if @article.cover.attached?%>
      <div class="img-show" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @article.cover.key , alt: @article.image, crop: :fill %>')">
    <% end %>
  </div>

  <div data-controller="richtext" class="content-show">
    <%=@article.ontent%>
  </div>
    <% if @article.photo.attached?%>
      <%=cl_image_tag @article.photo.key ,  height: 400, width: 400, crop: :fill  %>
    <% end %>
    <div class="tags-show">
     TAG : <% @article.tag_list.each do |tag| %>
        <div class="tag-show">
          <%=link_to tag, tagged_path(tag: tag)%>
        </div>
      <% end %>
    </div>
  <%= render "share-button", article: @article %>

</div>

<div>
  <% if policy(@article).edit?  %>
    <%= link_to "Edit", edit_article_path(@article) %>
  <% end %>
</div>
<div>
  <% if policy(@article).destroy?  %>
    <div>
      <%= button_to "Destroy", @article, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  <% end %>
</div>
<div>
  <%= link_to "All", root_path%>
</div>


