<div class="container">
  <div class="category-show">
    <% @article.categ_list.each do |categ| %>
        <%=link_to categ, categged_path(categ: categ)%>
    <% end %>
  </div>
  <h1 class="title-show">
    <%=@article.title %>
  </h1>
  <div class="container-show">

    <div class="chapo-show">
      <%=@article.chapo %>
    </div>
    <div class="date-show">
      Publié le <%= @article.created_at.strftime("%d/%m/%Y")%> - Mis à jour le <%= @article.updated_at.strftime("%d/%m/%Y")%>
    </div>

    <div>
      <% if @article.cover.attached?%>
        <div class="cover-show"><%= cl_image_tag @article.cover.key , crop: :fill, fetch_format: :auto,quality: 50,  alt: @article.image %></div>
      <% end %>
    </div>


    <div data-controller="richtext" class="content-show">
      <%=@article.ontent%>
    </div>


    <div>
      <% @article.photos.each do |photo|%>
        <div class="cover-show"><%= cl_image_tag photo.key ,fetch_format: :auto, crop: :fill, quality: 50 %></div>
      <% end %>
    </div>
  </div>


    <div class="tags-show">
     TAG : <% @article.tag_list.each do |tag| %>
        <div class="tag-show">
          <%=link_to tag, tagged_path(tag: tag)%>
        </div>
      <% end %>
    </div>

    <div class="tags-show">
     VILLE : <% @article.categ_list.each do |categ| %>
        <div class="tag-show">
          <%=link_to categ, categged_path(categ: categ)%>
        </div>
      <% end %>
    </div>
  <%= render "share-button", article: @article %>

  <div>
  <% if user_signed_in? %>
    <% if policy(@article).edit?  %>
      <%= link_to "Edit", edit_article_path(@article) %>
    <% end %>
  </div>
  <div>
    <% if policy(@article).destroy?  %>
      <div>
        <%= button_to "Destroy", @article, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>
  </div>
  <%= render "reco", article: @article %>
  <%= render "recoville", article: @article %>
</div>
      <% else %>
      <% end %>
