hello from show.html.erb
<h1><%=@article.title %></h1>
  <p><%=@article.chapo %></p>
  <p>
  <% if @article.cover.attached?%>
  <%=cl_image_tag @article.cover.key , alt: @article.image, height: 400, width: 400, crop: :fill  %>
  <% end %>
  </p>

  <p>
  <% if @article.photo.attached?%>
  <%=cl_image_tag @article.photo.key , alt: @article.image, height: 400, width: 400, crop: :fill  %>
  <% end %>
  </p>

  <p><%=@article.image%> </p>
  <p><%=@article.content%> </p>
  <p><%=@article.category %></p>
  <p><%=@article.tag %></p>
  <p><%=@article.author%> </p>

<% if policy(@article).edit?  %>
  <p>
    <%= link_to "Edit", edit_article_path(@article) %>
  </p>
<% end %>
<% if policy(@article).destroy?  %>
  <div>
    <%= button_to "Destroy", @article , method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>


<p><%= link_to "All", root_path%></p>


