<div class="navbar-adri">
  <div>

  </div>
  <div class="navbar-home">
    <%= link_to "Le Baroudeur", root_path%>
  </div>
  <div class="navbar-links">
    <ul>
      <li><%= link_to "Gadget", categged_path(categ: "Gadget") %></li>
      <li><%= link_to "Tech", categged_path(categ: "Tech") %></li>
      <li><%= link_to "Livres", categged_path(categ: "Livres")%></li>
      <li><%= link_to "Fringues", categged_path(categ: "Fringues")%></li>
    </ul>
  </div>
</div>
